<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ChatBot BPMN</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ChatBot BPMN</ion-title>
      
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="new()" size="large">New</ion-button>
  <ion-button (click)="openFile(dispFile)" size="large">Open</ion-button>
  <ion-button (click)="save()" size="large">Save</ion-button>
  <ion-button (click)="export()" size="large">Generate ChatBot Files (RASA)</ion-button>
  <div #ref class="diagram-container"></div>
</ion-content>
